layout {
    pane split_direction="vertical" {
        pane size="60%"
        pane size="40%" split_direction="horizontal" {
            pane
            pane
        }
    }
    pane size=1 borderless=true {
        plugin location="zjstatus"
    }
}
